<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CoreFNBT" version="1.0.9" targetFramework="net461" />
  <package id="DeepCloner" version="0.10.1" targetFramework="net461" />
  <package id="JetBrains.Annotations" version="11.1.0" targetFramework="net461" />
  <package id="log4net" version="2.0.8" targetFramework="net461" />
</packages>